<div class=" card z-depth-1 styleguide-color-block styleguide-color-block--sm <%= "bg-#{color}-darkest" %>">D3</div>
<!-- <div class=" card z-depth-1 styleguide-color-block styleguide-color-block--sm <%= "bg-#{color}-darker" %>">D2</div> -->
<div class=" card z-depth-1 styleguide-color-block styleguide-color-block--sm <%= "bg-#{color}-dark" %>">D1</div>
<div class=" card z-depth-1 styleguide-color-block styleguide-color-block--sm <%= "bg-#{color}" %>"></div>
<div class=" card z-depth-1 styleguide-color-block styleguide-color-block--sm <%= "bg-#{color}-light" %>">L1</div>
<!-- <div class=" card z-depth-1 styleguide-color-block styleguide-color-block--sm <%= "bg-#{color}-lighter" %>">L2</div> -->
<div class=" card z-depth-1 styleguide-color-block styleguide-color-block--sm <%= "bg-#{color}-lightest" %>">L3</div>
