---
title: Components // Colorgy Styleguide
layout: styleguide_content
page_name: components
page_description: 隨處可見，可重複使用、隨意定位甚至調整大小的獨立組件。
---


%h2 3.1 按鈕

= styleblock 'button', section: 'Button'

= styleblock 'button_group', section: 'ButtonGroup'

= styleblock 'dropdown', section: 'Dropdown'

= styleblock 'input_group', section: 'InputGroup'

= styleblock 'nav', section: 'Nav'

= styleblock 'navbar', section: 'Navbar'

= styleblock 'breadcrumb', section: 'Breadcrumb'

= styleblock 'pagination', section: 'Pagination'

= styleblock 'pager', section: 'Pager'

= styleblock 'label', section: 'Label'

= styleblock 'badge', section: 'Badge'

= styleblock 'page_header', section: 'PageHeader'

= styleblock 'thumbnail', section: 'Thumbnail'

= styleblock 'alert', section: 'Alert'

= styleblock 'progress_bar', section: 'ProgressBar'

= styleblock 'media', section: 'Media'

= styleblock 'list_group', section: 'ListGroup'

= styleblock 'panel', section: 'Panel'

= styleblock 'well', section: 'Well'

= styleblock 'toast', section: 'Toast'
