---
title: Components // Colorgy Styleguide
layout: styleguide_docs
page_name: components
page_description: 隨處可見，可重複使用、隨意定位甚至調整大小的獨立組件。
---

%h2#forms 3.1. 按鈕、表單與控制組

%h3#button 3.1.1. 按鈕

= styleblock 'button', section: 'Button'

%h3#button-group 3.1.2. 按鈕組

= styleblock 'button_group', section: 'ButtonGroup'

%h3#dropdown 3.1.3. 下拉選單

= styleblock 'dropdown', section: 'Dropdown'

%h3#input-group 3.1.4. 輸入組

= styleblock 'input_group', section: 'InputGroup'

%h2#container 3.2. 容器

= styleblock 'card', section: 'Card'

%h2#navs 3.3. 導航

%h3#nav 3.3.1. 導航選單

= styleblock 'nav', section: 'Nav'

%h3#sidenav 3.3.2. 側邊文件導航選單

= styleblock 'sidenav', section: 'SideNav'

%h3#breadcrumb 3.3.3. 麵包屑導航

= styleblock 'breadcrumb', section: 'Breadcrumb'

%h3#pagination 3.3.4. 分頁導航

= styleblock 'pagination', section: 'Pagination'

%h3#pager 3.3.5. 分頁導航

= styleblock 'pager', section: 'Pager'

%h3#steps 3.3.6. 步驟

= styleblock 'steps', section: 'Steps'

%h2#buttons 3.4. 頁面元素

= styleblock 'navbar', section: 'Navbar'

= styleblock 'label', section: 'Label'

= styleblock 'badge', section: 'Badge'

= styleblock 'page_header', section: 'PageHeader'

= styleblock 'thumbnail', section: 'Thumbnail'

= styleblock 'alert', section: 'Alert'

= styleblock 'progress_bar', section: 'ProgressBar'

= styleblock 'media', section: 'Media'

= styleblock 'list_group', section: 'ListGroup'

= styleblock 'panel', section: 'Panel'

= styleblock 'well', section: 'Well'

= styleblock 'toast', section: 'Toast'

%h2#glyphicons 3.4. 圖示字型 (Glyphicons)

:markdown

  使用方式：

  ```
  <i class="i-colorgy" aria-hidden="true"></i>
  ```

  例如：

  ```
  歡迎來到 <i class="i-colorgy" aria-hidden="true"></i>！
  Welcome to <i class="i-colorgy" aria-hidden="true"></i> , the hub of college life!
  ```

  會變成：

  歡迎來到 <i class="i-colorgy" aria-hidden="true"></i>！
  Welcome to <i class="i-colorgy" aria-hidden="true"></i> , the hub of college life!

= partial :icon_font_list
