---
title: Colorgy Styleguide
layout: styleguide
---

<script type="text/javascript">
  window.index = true;
</script>

<style type="text/css">

  body.main-navbar-collapse-collapse-in .intro .overlay,
  body.main-navbar-collapse-collapsing-in .intro .overlay {
    opacity: .8;
  }

  .intro .actions {
    max-width: 290px;
    margin-left: auto;
    margin-right: auto;
    font-size: 110%;
  }

  .intro .actions .action-1 {
    float: left;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
  }

  .intro .actions .action-2 {
    float: right;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
  }

  @media (max-width: 400px) {
    .intro .actions .action-1 {
      float: none;
    }

    .intro .actions .action-2 {
      float: none;
    }
  }

  .toc {
    padding: 100px 0;
  }

  .x17895 {
    display: block;
    box-sizing: content-box;
    height: 39px;
    line-height: 39px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    color: #fefefe;
    border: 2px solid #fefefe;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
         -o-user-select: none;
            user-select: none;
  }

  html.backgroundcliptext .x17895 {
    margin-top: -44px;
    border: 0;
  }

  .x58294 {
    display: none;
    margin-left: auto;
    margin-right: auto;
  }

  html.backgroundcliptext .x58294 {
    display: block;
    font-family: 'colorgy-icons';
    font-size: 12px;
    line-height: 12px;
    letter-spacing: -0.25px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
         -o-user-select: none;
            user-select: none;
  }

  .x17895:hover {
    text-decoration: none;
    color: #000;
    background-color: #fefefe;
  }

  html.backgroundcliptext .x17895:hover {
    background-color: transparent;
    -webkit-text-fill-color: #000;
       -moz-text-fill-color: #000;
  }

  html.backgroundcliptext .x17895:hover::before {
    content: '■■■■■';
    font-family: monospace;
    display: block;
    letter-spacing: -300px;
    font-size: 1000px;
    line-height: 200px;
    margin-top: -100px;
    margin-left: -300px;
    width: 1000px;
    height: 1000px;
    margin-right: -700px;
    margin-bottom: -900px;

    -webkit-background-clip: text;
       -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
       -moz-text-fill-color: transparent;
  }

</style>

<section class="intro inverse" style="background-image: url('<%= image_path 'colorgy/background_blur_1_dark.jpg' %>');">
  <div class="text-clip-background" style="background-image: url('<%= image_path 'colorgy/background_blur_1_light.jpg' %>'); display: table; width: 100%; height: 100%;">
    <div class="intro-body">
      <div class="container">
        <div class="jumbotron">
          <h1 class="brand-heading text-clip-background-clear-text">Colorgy <small>Styleguide</small></h1>
          <p class="intro-text">Colorgy《大學祭》使用者介面、視覺識別與樣式指南</p>
          <div class="actions clearfix">
            <div class="action-1" style="width: 136px;">
              <div class="x58294" style="width: 128px;">
                &#x188aa;&#x18895;&#x18895;&#x18895;&#x18895;&#x18895;&#x18895;&#x18895;&#x18895;&#x18895;&#x188a9;<br>
                &#x18896;&#x18894;&#x18894;&#x18894;&#x18894;&#x18894;&#x18894;&#x18894;&#x18894;&#x18894;&#x18896;<br>
                &#x18896;&#x18894;&#x18894;&#x18894;&#x18894;&#x18894;&#x18894;&#x18894;&#x18894;&#x18894;&#x18896;<br>
                &#x188ab;&#x18895;&#x18895;&#x18895;&#x18895;&#x18895;&#x18895;&#x18895;&#x18895;&#x18895;&#x188ac;<br>
              </div>
              <a class="x17895" style="width: 118px;" href="https://github.com/colorgy/Style/raw/master/assets/images/colorgy/Colorgy.sketch"><span class="i-icon">&#xf219;</span> 素材下載</a>
            </div>
            <div class="action-2" style="width: 150px;">
              <div class="x58294" style="width: 142px;">
                &#x188aa;&#x18895;&#x18895;&#x18895;&#x18895;&#x18895;&#x18895;&#x18895;&#x18895;&#x18895;&#x18895;&#x188a9;<br>
                &#x18896;&#x18894;&#x18894;&#x18894;&#x18894;&#x18894;&#x18894;&#x18894;&#x18894;&#x18894;&#x18894;&#x18896;<br>
                &#x18896;&#x18894;&#x18894;&#x18894;&#x18894;&#x18894;&#x18894;&#x18894;&#x18894;&#x18894;&#x18894;&#x18896;<br>
                &#x188ab;&#x18895;&#x18895;&#x18895;&#x18895;&#x18895;&#x18895;&#x18895;&#x18895;&#x18895;&#x18895;&#x188ac;<br>
              </div>
              <a class="x17895" style="width: 132px;" href="https://github.com/colorgy/Style" target="_blank"><span class="i-icon">&#x188ad;</span> 瀏覽原始碼</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="display: table-row-group;">
      <p><small>Copyright © 2015 MISK.</small></p>
      <span class="i-icon">&#xf107;</span>
    </div>
  </div>
  <div class="overlay inverse hidden"></div>
</section>

<section class="section bg-brand inverse">
  <div class="container text-center">
    <p class="lead">
      這是一份為 Colorgy 開發應用的設計資源，包含了一套完整的前端樣式框架，用於打造符合 Colorgy 風格的作品。
    </p>
    <em>相關識別與資源是為了表彰 Colorgy 的精神理念所建，不適用於所有情境，但歡迎參考！</em>
  </div>
</section>

<section class="section toc">
  <div class="container text-center">
    <h1 class="h1">Table of Contents</h1>
    <hr>
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="">
          <p class="h1"><small>1.</small></p>
          <h2 class="h3">Globals</h2>
          <p>標幟、色彩、字型和排版等泛用樣式的定義。</p>
          <%= link_to 'Globals »', '/globals.html', relative: true, class: 'btn raised' %>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="">
          <p class="h1"><small>2.</small></p>
          <h2 class="h3">Layouts</h2>
          <p>頁面佈局，繫結在頁面上的模組，以及結構。</p>
          <%= link_to 'Layouts »', '/layouts.html', relative: true, class: 'btn raised' %>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="">
          <p class="h1"><small>3.</small></p>
          <h2 class="h3">Components</h2>
          <p>隨處可見，可重複使用、隨意定位甚至調整大小的獨立組件。</p>
          <%= link_to 'Components »', '/components.html', relative: true, class: 'btn raised' %>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="">
          <p class="h1"><small>4.</small></p>
          <h2 class="h3">Extensional Components</h2>
          <p>更多為特定目的製作的組件。</p>
          <%= link_to 'Extras »', '/extras.html', relative: true, class: 'btn raised' %>
        </div>
      </div>
    </div>
  </div>
</section>
