<% wrap_layout :layout do %>
  <body>
    <script type="text/javascript">
      window.index = false;
    </script>

    <style type="text/css">

      img {
        max-width: 100%;
      }

      .section {
        padding: 70px 0;
      }

      footer {
        padding: 80px 0;
      }

    </style>

    <div class="wrapper<%= current_page.data.page_classes %>" id="wrapper">
      <nav class="navbar minimal inverse fixed-top auto-transparent transparent auto-expanded expanded" role="navigation">
        <div class="container">
          <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar-collapse" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand has-image" href="#wrapper">
              <%= image_tag 'colorgy/colorgy_logo_white.svg' %>
            </a>
          </div>
          <div id="main-navbar-collapse" class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
              <li>
                <%= link_to 'Globals', '/globals.html', relative: true %>
              </li>
              <li>
                <%= link_to 'CSS', '/css.html', relative: true %>
              </li>
              <li>
                <%= link_to 'Components', '/components.html', relative: true %>
              </li>
              <li>
                <%= link_to 'Extras', '/extras.html', relative: true %>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <%= yield %>

      <section class="slogan bg-brand inverse bg-cover bg-fixed" style="background-image: url('<%= image_path 'colorgy/background_blur_2_dark.jpg' %>'); background-position-x: 50%; background-position-y: 50%;">
        <div class="section bg-cover bg-fixed text-clip-background" style="background-image: url('<%= image_path 'colorgy/background_blur_2_extra_light.jpg' %>'); background-position-x: 50%; background-position-y: 50%;">
          <div class="container text-center">
            <h1>Color Your College!</h1>
            <p class="lead">Colorgy - the hub of college life.</p>
            <p class="h2 i-icon">
              &#x19a28; &#xf02d; &#xf073; &#xf19d; &#xf1d7; &#xf15c;
            </p>
            <br>
            <div class="col-md-4 col-sm-12 position-static">Colorgy 校園服務平台以學生出發、由學生創造，藉由資訊科技的力量，打造讓大學生更快樂的服務，聯合大家一起透過資訊的開放、共享、再造，實踐更美好、更便利的校園生活。</div>
            <div class="col-md-4 col-sm-12 position-static">在這裡也有多樣資源可以任您取用、參考，除了我們的 <a href="https://colorgy.io/api/docs.html" target="_blank">API 文件</a>、<a href="https://github.com/colorgy/Core" target="_blank">系統原始碼</a>、<a href="https://github.com/colorgy" target="_blank">GitHub 上的專案原始碼</a>之外，還有 <a href="https://colorgy.hackpad.com/" target="_blank">Hackpad 筆記</a>、<a href="https://github.com/colorgy/Data" target="_blank">資料指南</a>等，也歡迎在 <a href="https://www.facebook.com/pages/Colorgy/1529686803975150" target="_blank">Facebook</a> 上與我們交流！</div>
            <div class="col-md-4 col-sm-12 position-static">我們相信藉由所學的能力，可以讓校園生活更歡樂繽紛。藉由規劃性的打造開源校園服務、整合過去的零散專案，讓更多點子得以迅速實現，希望為校園與同學們創造更多價值。</div>
          </div>
        </div>
      </section>

      <footer class="bg-dark inverse">

        <div class="container footer-minimal text-center-sm text-center-xs">
          <div style="display: table;">
            <div style="display: table-cell; width: 99999px; vertical-align: middle;">
              <p class="footer-minimal-clear">Colorgy Styleguide</p>
              <div>
                <%= link_to 'Globals', '/globals.html', relative: true %> /
                <%= link_to 'CSS', '/css.html', relative: true %> /
                <%= link_to 'Components', '/components.html', relative: true %> /
                <%= link_to 'Extras', '/extras.html', relative: true %>
              </div>
            </div>
            <div class="hidden-xs hidden-sm" style="display: table-cell; vertical-align: middle;">
              <div style="width: 300px;">
                <a href="https://colorgy.io" target="_blank">
                  <%= image_tag 'colorgy/colorgy_logo_with_text_white.svg' %>
                </a>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <%= javascript_include_tag :styleguide_body %>
  </body>
<% end %>
